.window {
    // width: 760px;
    // height: 184px;
    padding: 20px 80px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 32px;
    border: 2px solid rgba(239, 57, 89, 0.4);
    text-align: center;
    padding-top: 30px;
}

.windowContent {
    line-height: 1.6;

    p {
        font-size: 18px;
        font-weight: 400;
        color: #0D224E;
    }
    img {
        margin: 10px;
    }
}


@media (max-width: 970px) {

    div.window {
        padding: 20px 30px;
        border: none;
    }
    div.windowContent {
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width: 420px) {
    div.windowContent {
        img {
            width: 40px;
        }
    }   
}